<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"><img src="logo.png" width="50px" border-radius="4px"></div>
        <div>
            <a href="/">Home</a>
            <a href="">Todo</a>
            <a href="Peliculas">Películas</a>
            <a href="Series">Series</a>
        
        </div>
    </div>
    <div class="search-bar">
        <form action="/" method="get">
            <input type="text" name="search" placeholder="Buscar por nombre o género">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="carousel" th:each="pelicula, iterStat : ${peliculas}">
        <img class="active" th:src="${pelicula.imagen_url}">
        <a class="prev" onclick="changeSlide(-2)">&#10094;</a>
        <a class="next" onclick="changeSlide(2)">&#10095;</a>
    </div> 
    <h1>Top 5 de peliculas</h1>
<div class="container">
    <div th:each="pelicula, iterStat : ${peliculas}">
        <div th:if="${iterStat.index < 5}" class="pelicula_item">
            <a th:href="@{|/Individualpeliculas/${pelicula.peliculaId}|}">
                <div class="producto_item_arriba">
                    <img th:src="${pelicula.imagen_url}">
                </div>
                <div class="pelicula_item_abajo">
                    <h3 th:text="${pelicula.titulo}"></h3>
                    <p th:text="${pelicula.ano_estreno}"></p>
                    <p th:text="${pelicula.duracion_texto}"></p>
                    <p th:text="'Reproducciones: ' + ${pelicula.reproducciones}"></p>
                </div>
            </a>
        </div>
    </div>
</div>
<h1>Catálogo de Series</h1>
<div class="container_series">
    <div th:each="serie, iterStat : ${series}">
        <div th:if="${iterStat.index < 5}" class="pelicula_item">
            <a th:href="@{|/Individualseries/${serie.serieId}|}">
                <div class="producto_item_arriba">
                    <img th:src="${serie.imagen_url}">
                </div>
                <div class="pelicula_item_abajo">
                    <h3 th:text="${serie.titulo}"></h3>
                    <p th:text="${serie.ano_estreno}"></p>
                    <p th:text="${serie.episodios} + ' Episodios'"></p>
                    <p th:text="'Reproducciones: ' + ${serie.reproducciones}"></p>
                </div>
            </a>
        </div>
    </div>
</div>
    <script>
        let currentSlide = 0;
        const slides = document.querySelectorAll('.carousel img');
    
        function showSlide(index) {
            slides[currentSlide].classList.remove('active');
            currentSlide = (index + slides.length) % slides.length;
            slides[currentSlide].classList.add('active');
        }
    
        function changeSlide(n) {
            showSlide(currentSlide + n);
        }
    
        setInterval(() => {
            changeSlide(1);
        }, 3000); // Cambia de imagen cada 3 segundos
    </script>
    </body>
</html>